@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1>کیر تو ناموست بنامین کیرگوزی نکن</h1>

    <p>کص مادرت اقا بنی</p>

    <img src="~/Img/photo_2022-02-16_17-44-01.png" width="250" height="250" />


    <h1>دفعه بعد کیرگوزی کنی میرم تو کص ننت</h1>
</div>


@section Scripts{
    <script src="~/Pages/Index.cshtml.js"></script>
}
