@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">به زودی این سایت راه اندازی میشود</h1>
    <p>این سایت توسط میتی سایبر راه اندازی شده است <a href="https://t.me/sir_miri">ایدی تلگرام بنده </a></p>


    <h2>این سایت توسط asp.net core ساخته شده است</h2>
</div>
